/*Loading page*/
.jm-loadingpage {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: url(../assets/img/loading.gif) center no-repeat #fff;
}
/*Loading page*/